// USER VARIABLES SECTION

$accent: orange; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: Roboto, sans-serif; // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}
// Roboto
@include font('Roboto', normal, 400, '../fonts/roboto/roboto-regular-webfont.woff2');
@include font('Roboto', italic, 400, '../fonts/roboto/roboto-italic-webfont.woff2');
@include font('Roboto', normal, 700, '../fonts/roboto/roboto-bold-webfont.woff2');
@include font('Roboto', italic, 700, '../fonts/roboto/roboto-bolditalic-webfont.woff2');
// Source Sans Pro
@include font('Source Sans Pro', normal, 300, '../fonts/source-san-pro/Source-Sans-Pro-Regular.woff2');
@include font('Source Sans Pro', normal, 400, '../fonts/source-san-pro/Source-Sans-Pro-Semibold.woff2');
@include font('Source Sans Pro', normal, 500, '../fonts/source-san-pro/Source-Sans-Pro-Semibold.woff2');
// Raleway
@include font('Raleway', normal, 400, '../fonts/raleway/raleway-v16-latin-regular.woff2');
@include font('Raleway', normal, 500, '../fonts/raleway/raleway-v16-latin-500.woff2');
@include font('Raleway', normal, 600, '../fonts/raleway/raleway-v16-latin-600.woff2');
@include font('Raleway', normal, 700, '../fonts/raleway/raleway-v16-latin-700.woff2');
@include font('Raleway', normal, 800, '../fonts/raleway/raleway-v16-latin-800.woff2');

// GENERAL DOCUMENT STYLES

// ::placeholder {
// 	color: #666;
// }

// ::selection {
// 	background-color: $accent;
// 	color: #fff;
// }

input, textarea {
	// outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {
	// font-family: $roboto;
	// font-size: $fontsize;
	min-width: 320px;
	position: relative;
	// line-height: 1.65;
	overflow-x: hidden;
	color: $textcolor;
}
