@import "mixins";

$black: #000;
$black-dark: #333;
$white: #fff;
$grey: #9e9e9e;
$grey-eee: #eeeeee;
$light-grey: #b6b6b6;
$grey-text: #494949;
$grey-headline: #7d7888;
$blue: #66c4ea;
$blue-hover: #47b3de;
$blue-active: #38a4d0;
$blue-dark: #043e53;
$blue-dark-3: #295262;
$blue-light: #f4fafd;
$blue-service: #e0edf2;
$blue-footer: #6ca8c0;
$blue-2: #23688f;
$green: #00d774;
$green-hover: #06c66e;
$green-active: #09b666;
$green-light: #00ffc6;
$red: #d72e2e;

$slider-bg: #d7e3ff;

$orange-light: #f8a802;
$orange: #f87e02;

$blue-gradient: #a223f6;
$lilac-gradient: #0e8bf5;

$blue-gradient-2: #b95ef8;
$lilac-gradient-2: #5aaaf8;

$blue-gradient-3: #6e18b9;
$lilac-gradient-3: #0d67b9;

$gradient-top: #094984;
$gradient-bottom: #451984;

$gradient-top-2: #0a4884;
$gradient-bottom-2: #6e18b9;

$gradient-step-1: #0065ae;
$gradient-step-2: #0196f5;

$gradient-scarpa-1: #fd5634;
$gradient-scarpa-2: #f33918;

$gradient-mush-1: #1bcee3;
$gradient-mush-2: #1ba2a8;

$footer-bg-1: #1164b9;
$footer-bg-2: #0a4884;

$text-content: #626262;

$header-height: 4rem;
$container: 1024px;
$container-big: 1280px;
$container-ques: calc(#{$container} - 4rem);

$device_breakpoint: 1200px;
$mobile_view_breakpoint: 767px !default;

$a-transition: .25s ease-in-out !default;
$a-transition-short: .15s ease-in-out !default;
