@import 'variables';

.breadcrumb {
  display: flex;
  margin: 1em 0;
  font-size: .9em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: italic;

  li {
    padding-left: 1em;
    position: relative;

    &:before {
      content: '>';
      position: absolute;
      top: 50%;
      left: .3em;
      transform: translateY(-50%);
      color: $blue-2;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
    }

    &:first-child {
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    a {
      color: $blue-2;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      color: $blue-2;
    }
  }
}

.bullet {
  margin-top: 1em;

  li {
    display: flex;

    @media screen and (min-width: $mobile_view_breakpoint) {
      padding: .3em 0;
    }

    @media screen and (max-width: $mobile_view_breakpoint) {
      padding: .1em 0;
    }

    &:before {
      content: "•";
      color: $blue;

      @media screen and (min-width: $mobile_view_breakpoint) {
        margin: 0 .5em;
      }

      @media screen and (max-width: $mobile_view_breakpoint) {
        font-size: 2em;
        margin: 0 .25em;
        line-height: .6;
      }
    }
  }
}
