@import 'variables';

input,
textarea,
#select-like-input {
  border: 1px solid $light-grey;
  padding: .7em 1em;
  background-color: transparent;
  color: $grey-text;
  width: 100%;
  font-size: 1.1em;
  border-radius: 3px;
  cursor: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  appearance: none;
  @include outline-none;

  &:focus {
    background-color: rgba($white, .2);
    box-shadow: 0 0 0 2px rgba($white, .3);
  }

  &.grey {
    border-color: rgba($black, .2);
    color: rgba($black-dark, .8);

    &::-webkit-input-placeholder {
      color: rgba($light-grey, .8);
    }

    &::-moz-placeholder {
      color: rgba($light-grey, .8);
    }

    &:-moz-placeholder {
      color: rgba($light-grey, .8);
    }

    &:-ms-placeholder {
      color: rgba($light-grey, .8);
    }

    &:focus {
      box-shadow: 0 0 2px 0 rgba($green, .3);
      border-color: $green;
    }
  }

  &.white {
    border-color: $white;
    color: $white;

    &::-webkit-input-placeholder {
      color: $white;
    }

    &::-moz-placeholder {
      color: $white;
    }

    &:-moz-placeholder {
      color: $white;
    }

    &:-ms-placeholder {
      color: $white;
    }
  }
}

::-webkit-input-placeholder {
  color: $grey-text;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}

::-moz-placeholder {
  color: $grey-text;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}

:-moz-placeholder {
  color: $grey-text;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}

:-ms-placeholder {
  color: $grey-text;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}

.input_field {
  width: 100%;
  position: relative;

  label.error {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: .9em;
    opacity: 1;
    animation: show_error .4s ease;
  }
}

.form-checkbox-container {
  margin-top: 24px;
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: rgb(60, 168, 212);;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select-control {
  .select2-selection {
    text-align: left;
    border: 1px solid $light-grey;
    padding: .45em 1em;
    color: $grey-text;
    font-size: 1.1em;
    border-radius: 3px;
    height: auto;
  }

  .select2-selection--single {
    .select2-selection__arrow {
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }

    .select2-selection__rendered {
      padding-left: 0;
    }
  }
}

.file-control {
  display: flex;
  flex-direction: column;
  color: $grey-text;

  @media screen and (min-width: $mobile_view_breakpoint) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .file-control__input {
    display: none;
  }

  .file-control__label {
    font-size: 1.1em;
    border: 1px solid $light-grey;
    display: inline-block;
    padding: .7em 1em;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    border-radius: 3px;
    transition: background-color .1s ease-in-out,
    color .1s ease-in-out;

    &:hover {
      background-color: #66c4ea;
      border-color: #66c4ea;
      color: #fff;
    }

    @media screen and (min-width: $mobile_view_breakpoint) {
      width: auto;
    }
  }

  .file-control__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 1em;

    @media screen and (min-width: $mobile_view_breakpoint) {
      padding-left: 1em;
    }
  }

  .file-control__clear {
    display: none;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    position: relative;

    @media screen and (min-width: $mobile_view_breakpoint) {
      width: 10px;
      height: 15px;
    }

    svg {
      width: 50%;
      height: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;

      @media screen and (min-width: $mobile_view_breakpoint) {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.file-name-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: .5em;
  margin-bottom: -.5em;

  @media screen and (min-width: $mobile_view_breakpoint) {
    margin-bottom: 0;
    padding-top: 0;
    justify-content: flex-end;
    overflow: hidden;
  }
}

.checkbox-control {
  position: relative;
  text-align: left;

  input {
    position: absolute;
    width: 0;
    height: 0;
    display: none;

    &:checked + label {
      &::after {
        content: ' ';
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: $blue;
        left: 3px;
      }
    }
  }

  label {
    cursor: pointer;
    padding-left: 30px;

    &::before,
    &::after {
      content: ' ';
      display: inline-block;
      position: absolute;
      border-radius: 2px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      width: 18px;
      height: 18px;
      border: 1px solid $light-grey;
      left: 0;
    }
  }
}


.error-note {
  text-align: left;
  color: $red;

  &--center {
    text-align: center;
  }
}

.toggle_contact_form button[type="submit"]:disabled {
  background-color: #ccc;
}