@import 'variables';

.bg_blue {
  background-color: $blue-light;
}

.slider_about {

  .swiper-slide {

    @media screen and (min-width: $mobile_view_breakpoint) {
      padding: 0 5em;
    }

    @media screen and (min-device-width: $mobile_view_breakpoint) and (max-device-width: $device_breakpoint) {
      padding: 0 2.3em;
    }

    @media screen and (max-width: $mobile_view_breakpoint) {
      font-size: 1.1em;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {

    @media screen and (min-width: $mobile_view_breakpoint) {
      // Desktop here
    }

    @media screen and (min-device-width: $mobile_view_breakpoint) and (max-device-width: $device_breakpoint) {
      width: 35px;
      height: 50px;
    }

    @media screen and (max-width: $mobile_view_breakpoint) {
      display: none;
    }
  }

  .swiper-button-next {
    @media screen and (min-device-width: $mobile_view_breakpoint) and (max-device-width: $device_breakpoint) {
      right: 0;
    }
  }

  .swiper-button-prev {
    @media screen and (min-device-width: $mobile_view_breakpoint) and (max-device-width: $device_breakpoint) {
      left: 0;
    }
  }

  .swiper-pagination {
    padding-top: 1rem;

    //@media screen and (min-width: $mobile_view_breakpoint) {
    //  display: none;
    //}

    //@media screen and (max-width: $mobile_view_breakpoint) {
    //  // Mob here
    //}

    //.swiper-pagination-bullet {
    //  margin-top: 2em;
    //  width: 35.56px;
    //  height: 3px;
    //  background-color: #bebebe;
    //
    //  &-active {
    //    background-color: #66c4ea;
    //  }
    //}
  }
}

.sl_flex_wrapp {
  display: flex;

  @media screen and (min-width: $mobile_view_breakpoint) {
    flex-direction: row;
  }

  @media screen and (max-width: $mobile_view_breakpoint) {
    flex-direction: column;
  }

  &.sl_proc_wrap {
    font-size: 1.3em;
    margin-top: 1em;

    @media screen and (max-width: $mobile_view_breakpoint) {
      padding-top: 2em;
    }
  }
}

.sl_process {
  text-align: center;
  flex: 1;

  &:first-child .sl_img_wrapp:before {
    display: none;
  }

  &:last-child .sl_img_wrapp:after {
    display: none;
  }

  @media screen and (max-width: $mobile_view_breakpoint) {
    display: flex;
    text-align: left;
  }
}

.sl_models_item {
  flex: 1;
  padding: 0 .5em;

  h4 {
    margin-top: 0;

    @media screen and (min-width: $mobile_view_breakpoint) and (max-device-width: $device_breakpoint) {
      font-size: 1.1em;
    }

    @media screen and (max-width: $mobile_view_breakpoint) {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      font-size: 1.2em;

      br {
        display: none;
      }
    }
  }

  img {
    max-width: 60px;
    width: 100%;
    margin: 0 1.4em 1em 1em;
    float: left;

    @media screen and (min-width: $mobile_view_breakpoint) {
      // Desktop here
    }

    @media screen and (max-width: $mobile_view_breakpoint) {
      display: none;
    }
  }
}

.sl_about_item {
  flex: 1;
  padding: 0 1em;

  &.about_item_last {
    padding-left: 3em;
  }

  @media screen and (max-width: $mobile_view_breakpoint) {
    padding: 0 .5em;

    &.about_item_last {
      padding: 0 .5em;
    }

    h2 {
      font-size: 1.4em;

      &.left {
        text-align: center;

        &:after {
          transform: translateX(-50%);
          left: 50%;
        }
      }
    }
  }
}

.sl_about_text {
  color: $grey-text;
  text-align: justify;
  clear: both;
}

.sl_img_wrapp {
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 1px;
    background-color: $blue;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  @media screen and (max-width: $mobile_view_breakpoint) {
    margin-right: 1em;
    padding-bottom: 2em;

    &:before,
    &:after {
      width: 1px;
      height: 50%;
      transform: translateX(-50%);
      left: 50%;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }
}

.sl_process_desc {
  font-size: .7em;
  margin-top: 1em;
  padding-left: .5em;
  padding-right: .5em;

  @media screen and (max-width: $mobile_view_breakpoint) {
    padding-bottom: 1em;
  }
}

.sl_process_img {
  width: 5em;
  height: 5em;
  border: 1px solid $blue;
  background-color: $white;
  border-radius: 50%;
  margin: 0 auto .5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  img {
    width: 50%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  @media screen and (max-width: $mobile_view_breakpoint) {
    width: 4em;
    height: 4em;
  }
}

.blue_counter {
  li {
    counter-increment: step-counter;
    position: relative;
    padding: .3em 0 .3em 40px;

    &:before {
      content: counter(step-counter);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border: 1px solid $blue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      line-height: .8;
      color: $blue;
    }
  }
}
