@import config
// CUSTOM USER STYLES & IMPORTS
@import ./_header
@import ./_index
@import ./_footer
@import ./_blog
@import ./_countries
@import ./_gallery
@import ./_contacts
body
  background: #ccc
  display: flex
  flex-direction: column

html
  box-sizing: border-box
  color: #000000
  height: 100%

main
  flex: 2 2 auto;
