<script>
  function recaptchaCallback() {
    const captchaNote = document.getElementsByClassName("captchaNote")[0];
    const button = document.querySelectorAll('.toggle_contact_form button[type="submit"]');
    if (!button.length) {
      return;
    }
    button[0].disabled = false;
    captchaNote.innerHTML = "";
  }
</script>

<div id="go-lets-talk"></div>
<section class="index_form">
  <div id="flash_contact_form" class="flash_wrap"></div>
  <div class="container_small">
    <div class="text_center">
      <h2>Contact Us</h2>

      <div class="form_wrap">
        <div class="toggle_contact_form">
          <div class="index_form__time">24/7</div>
          <form
            class="idea_form"
            id="contact_form"
            enctype="multipart/form-data"
            accept-charset="UTF-8"
            data-remote="true"
          >
            <div class="index_form_left" data-select2-id="select2-data-4-zn8k">
              <div class="input_field">
                <input type="text" name="name" id="name" placeholder="Name*" required="required" />
              </div>
              <div class="input_field">
                <input
                  type="email"
                  name="email"
                  id="email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
                  placeholder="Email*"
                  required="required"
                />
              </div>
              <div class="input_field">
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  pattern="^(?=.*[0-9])[- +()0-9]+$"
                  placeholder="Phone*"
                  required="required"
                />
              </div>

              <div class="input_field select-control">
                <select
                  name="region"
                  id="select-like-input"
                  required="required"
                  class="countrySelect select2-hidden-accessible"
                  style="width: 100%;"
                  data-select2-id="select2-data-select-like-input"
                  tabindex="-1"
                  aria-hidden="true"
                  ><option value="" data-select2-id="select2-data-2-vovo">Select your region*</option
                  ><option value="Africa">Africa</option>
                  <option value="Asia">Asia</option>
                  <option value="Europe">Europe</option>
                  <option value="North America">North America</option>
                  <option value="South America">South America</option>
                  <option value="Oceania">Oceania</option></select
                >
              </div>

              <div class="input_field">
                <div class="file-control fileUpload">
                  <label for="file" class="file-control__label">
                    Click here to upload file
                  </label>
                  <input
                    type="file"
                    name="file"
                    id="file"
                    accept="application/pdf,application/x-pdf,application/x-bzpdf,application/x-gzpdfimage/png,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/rtf,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation"
                    class="fileInput file-control__input"
                  />
                  <div class="file-name-row">
                    <div class="fileUploadError error-note error-note--center"></div>
                    <div class="fileName file-control__name"></div>

                    <a href="#" class="fileClear file-control__clear">
                      <svg width="103" height="103" viewBox="0 0 103 103" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M51.702 45.338L94.836 2.205l.019.019a4.5 4.5 0 1 1 6.325 6.325l.02.02-43.134 43.133L101.2 94.836l-.02.019a4.5 4.5 0 1 1-6.325 6.325l-.02.02-43.133-43.134L8.57 101.2l-.02-.02a4.5 4.5 0 1 1-6.325-6.325l-.02-.02 43.134-43.133L2.205 8.57l.019-.02a4.5 4.5 0 1 1 6.325-6.325l.02-.02 43.133 43.134z"
                          fill="#d72e2e"
                          fill-rule="evenodd"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="input_field">
                <div class="checkbox-control">
                  <input type="checkbox" name="nda" id="nda" value="1" />
                  <label for="nda">I would like to receive an NDA</label>
                </div>
              </div>

              <div class="input_field">
                <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6Lc_GK8ZAAAAAJxAm71JiPHtoZ7DTX-mEwzNpRtp"></div>
                <div class="captchaNote error-note"></div>
              </div>
            </div>
            <div class="index_form_right">
              <div class="input_field">
                <textarea
                  name="details"
                  id="details"
                  placeholder="Project details...*"
                  required="required"
                ></textarea>
              </div>
            </div>

            <div class="form_btn_wrapp">
              <button type="submit" disabled class="btn fullblue btn-default">SUBMIT</button>
            </div>

            <a
              href="https://www.upwork.com/agencies/~019ebb4d79b498eccf"
              target="_blank"
              class="index_form__upwork"
            >
              <span><img src="../images/dest/logos/upwork-logo.png" alt="" /></span>
              <span> Find us on Upwork</span>
            </a>
          </form>
        </div>

        <div class="contact_spinner">
          <div class="loader">Loading...</div>
        </div>
        <div class="contact_success bg_blue">
          <h3>Your message has been sent.</h3>
          <p>We will contact you within 2 hours 8AM-9PM CET Mon-Fri.</p>
          <button
            name="button"
            type="submit"
            class="contact_res_btn btn fullblue btn-default"
            id="contact_res_btn"
          >
            GOT IT
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
