<footer class="footer">
  <div class="container_big">
    <div class="footer_left">
      <div class="logo-white"></div>
      © 2017
    </div>
    <div class="footer_center">
      <div class="footer_address"><span class="icon_foot_home"></span>7a Kyianivskyi Ln, Kyiv, Ukraine, 04655</div>
      <div class="footer_phone"><span class="icon_foot_phone"></span>+38 (067) 539 40 30</div>
      <div class="footer_mail">
        <a href="mailto:sales@logic-it-solutions.com?subject=Message from logic-it-solutions.com">
          <span class="icon_foot_mail"></span>sales@logic-it-solutions.com
        </a>
      </div>
    </div>
    <div class="footer_nav nav_links">
      <a class="lk" href="/#about">About</a>
      <a class="lk" href="/#team">Team</a>
      <a class="lk" href="/#services">Services</a>
      <a class="lk" href="/#portfolio">Portfolio</a>
      <a href="/privacy-policy">Privacy Policy</a>
      <a class="lk" href="/#technologies">Technologies</a>
      <a class="lk" href="/#clients">Clients</a>
    </div>
  </div>
</footer>
