<header class="">
  <div class="container_big">
    <div class="header_left">
      <a class="logo-white" href="#" title="Home" rel="homepage"></a>
    </div>
    <div class="header_center">
      <div class="nav nav_links">
        <a
          href="https://www.upwork.com/agencies/~019ebb4d79b498eccf"
          target="_blank"
          class="upwork_header_link"
        >
          <img src="../images/dest/logos/upwork-logo.png" alt="" />
        </a>
        <a class="lk" href="/#about">About</a>
        <a class="lk nav_mobile_hide" href="/#services">Services</a>
        <a class="lk nav_mobile_visible" href="/services">Services</a>
        <a class="lk" href="/#technologies">Technologies</a>
        <a class="lk" href="/#portfolio">Portfolio</a>
        <a class="lk" href="/#clients">Clients</a>
        <a class="lk" href="/#team">Team</a>
        <div class="search_m"></div>
      </div>
      <div class="icon_menu header_menu_m"></div>
    </div>
    <div class="header_right">
      <div class="header_btns">
        <a class="btn white lets-talk" href="/#go-lets-talk">Work with us</a>
      </div>
      <!-- <div class="search_open">
          <div class="icon_search_white lupa"></div>
          <div class="icon_close_white close"></div>
        </div> -->
    </div>
  </div>
</header>

{% if page.url == '/' %} {% endif %}
