<head>
  <meta charset="UTF-8" />
  <title>Logic IT Solutions - Custom Software Development Company</title>
  <meta
    name="description"
    content="Product oriented custom software development company with R&D offices in Eastern Europe serving customers from around the globe."
  />
  <link rel="icon" href={{"./images/favicon.ico" | relative_url }} />
  <!-- <link rel="icon" href={{"./images/favicon.ico" | absolute_url }} /> -->
  <meta property="og:image" content="images/dest/preview.jpg" />

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href={{"./css/app.min.css " | relative_url }}>
  <!-- <link rel="stylesheet" href={{"./css/app.min.css " | absolute_url }}> -->

</head>
