<section id="portfolio" class="no_pad_bottom">
  <div class="container text_center">
    <h2>Featured Projects</h2>
    <div class="text_content">
      Several hundred projects have been launched by our team since 2014. Most of them are under strict NDA,
      making us anonymous heroes behind the scene. Below you can find a few featured projects, highlighting
      our key technical expertise.
    </div>
  </div>
  <div class="portfolio">
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_9.jpg');"
        >
          <div class="portfolio_text">
            Apla
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>Apla</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_9.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>React</div>
              <div>React Native</div>
              <div>Redux-Saga</div>
              <div>TypeScript</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_10.jpg');"
        >
          <div class="portfolio_text">
            Loop
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>Loop</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_10.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>React Native</div>
              <div>Redux Saga</div>
              <div>Ruby on Rails</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_11.jpg');"
        >
          <div class="portfolio_text">
            Educative
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>Educative</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_11.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>React</div>
              <div>Redux</div>
              <div>TypeScript</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_12.jpg');"
        >
          <div class="portfolio_text">
            Chat Leap
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>Chat Leap</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_12.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>React</div>
              <div>Node</div>
              <div>Elastic search</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_1.jpg');"
        >
          <div class="portfolio_text">
            TryLikes
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>TryLikes</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_1.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>React.js</div>
              <div>Redux</div>
              <div>Rails</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_2.jpg');"
        >
          <div class="portfolio_text">
            Lavo
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>Lavo</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_2.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>Ember</div>
              <div>Cordova</div>
              <div>Facebook API</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_3.jpg');"
        >
          <div class="portfolio_text">
            Joinr
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>Joinr</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_3.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>Angular.js</div>
              <div>Cordova</div>
              <div>Django</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_4.jpg');"
        >
          <div class="portfolio_text">
            LetsHola
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>LetsHola</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_4.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>React.js</div>
              <div>Cordova</div>
              <div>Node.js</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_5.jpg');"
        >
          <div class="portfolio_text">
            StartSub
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>StartSub</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_5.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>React.js</div>
              <div>Redux</div>
              <div>Recompose</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_6.jpg');"
        >
          <div class="portfolio_text">
            Racemenu
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>Racemenu</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_6.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>Rails</div>
              <div>jQuery</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_7.jpg');"
        >
          <div class="portfolio_text">
            FlareDown
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>FlareDown</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_7.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>Rails</div>
              <div>Ember</div>
              <div>Heroku</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio_item">
      <div class="portfolio_wrap">
        <div
          class="portfolio_inn"
          style="background-image: url('./images/dest/portfolio/portf_thumbs/portf_thumbs_8.jpg');"
        >
          <div class="portfolio_text">
            OfficeCare
          </div>
        </div>
      </div>

      <div class="portfolio_popup">
        <div class="container_big">
          <div class="portp_container">
            <div class="portp_pop_bg"></div>
            <div class="portp_pop_name">
              <span>OfficeCare</span>
              <div class="portp_close">x</div>
            </div>
            <img src="./images/dest/portfolio/portf_8.jpg" alt="" />
            <div class="portp_pop_tech">
              <div>Microsoft Hololens</div>
              <div>Unity 3D</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
