<div class="services">
  <div class="service-block">
    <div class="service-link">
      <div class="service-link-icon">
        <i class="icon_service_1"></i>
        <div class="service_text">
          <div class="service_headline">
            Web Development
          </div>
          <div class="service_description">
            We offer custom web application development services to create a unique user experience and solve the most complex business issues.
          </div>
        </div>
      </div>
    </div>
    <div class="service-additional-content">
      <a href="/custom-web-development">Custom Web Development</a>
      <a href="/cms-web-projects">CMS Web Projects</a>
      <a href="/api-integration">API Integration</a>
      <a href="/ecommerce-solutions">eCommerce solutions</a>
      <a href="/ux-ui-design">UX/UI Design</a>
    </div>
  </div>
  <div class="service-block">
    <div class="service-link">
      <div class="service-link-icon">
        <i class="icon_service_2"></i>
        <div class="service_text">
          <div class="service_headline">
            Mobile Applications
          </div>
          <div class="service_description">
            Our professional mobile app developers offer custom Android, iOS, and cross platform app development services for any taste and need.
          </div>
        </div>
      </div>
    </div>
    <div class="service-additional-content">
      <a href="/ios-app-development">iOS App Development</a>
      <a href="/android-app-development">Android App Development</a>
      <a href="/cross-platform-applications">Cross-Platform Mobile App</a>
    </div>
  </div>
  <div class="service-block">
    <div class="service-link">
      <div class="service-link-icon">
        <i class="icon_service_3"></i>
        <div class="service_text">
          <div class="service_headline">
            VR, AR and MR Apps
          </div>
          <div class="service_description">
            Stay on trend with the latest VR (virtual reality) app and software development solutions for any business requirements and environments.Amaze your customers and keep your business ahead of the competition with the unique AR technology.
          </div>
        </div>
      </div>
    </div>
    <div class="service-additional-content">
      <a href="/htc-vive">HTC VIVE</a>
      <a href="/microsoft-hololens">Microsoft Hololens</a>
      <a href="/oculus">Oculus</a>
      <a href="/samsung-gear-vr">Samsung Gear VR</a>
      <a href="/google-cardboard">Google Cardboard</a>
    </div>
  </div>
  <div class="service-block">
    <div class="service-link">
      <div class="service-link-icon">
        <i class="icon_service_4"></i>
        <div class="service_text">
          <div class="service_headline">
            Software Testing
          </div>
          <div class="service_description">
            Combining the best resources with only proven methodologies, our company provides automation, functional, performance, and mobile app testing services worldwide.
          </div>
        </div>
      </div>
    </div>
    <div class="service-additional-content">
      <a href="/functional-testing">Functional testing</a>
      <a href="/cross-platform-testing">Cross platform testing</a>
      <a href="/performance-testing">Performance analysis</a>
    </div>
  </div>
  <div class="service-block">
    <div class="service-link">
      <div class="service-link-icon">
      <i class="icon_service_5"></i>
      <div class="service_text">
        <div class="service_headline">
          Database Design
        </div>
        <div class="service_description">
            Combining the best resources with only proven methodologies, our company provides automation, functional, performance, and mobile app testing services worldwide.
          </div>
        </div>
      </div>
    </div>
    <div class="service-additional-content">
      <a href="/mongodb">Mongo DB</a>
      <a href="/postgresql">PostgreSQL</a>
      <a href="/mysql">MySQL</a>
      <a href="/cassandra">Cassandra</a>
    </div>
  </div>
  <div class="service-block">
    <div class="service-link">
      <div class="service-link-icon">
        <i class="icon_service_6"></i>
        <div class="service_text">
          <div class="service_headline">
            Remote Developers
          </div>
          <div class="service_description">
            We provide a full range of professional outsourcing and remote software development services for startups and entrepreneurs across the globe.
          </div>
        </div>
      </div>
    </div>
    <div class="service-additional-content">
      <a href="/time-and-material">Time and Material</a>
      <a href="/dedicated-team">Dedicated Team</a>
      <a href="/white-label-team-extension">White Label Team Extension</a>
    </div>
  </div>
</div>