<div class="container_big">
  <div class="swiper-container slider_about">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="sl_flex_wrapp">
          <div class="sl_about_item">
            <h2 class="left">About Us</h2>
            <div class="" style="text-align: justify;">
              <p>
                Logic IT Solutions (LITS) is a strong team of more than 60 experienced Full Stack Web
                and Mobile Software Engineers, Project Managers, Business Analysts, UX/UI Designers,
                Quality Assurance Engineers and DevOpses, assembled together in the production center in
                Kyiv, Ukraine, supported by Account Management team in Silicon Valley, USA.
              </p>
              <p>
                You will benefit from working with us if you are a small or medium-size businesses, or a
                young startup looking for a top quality technical expertise, strong communication skill,
                60-70% cost reduction compared to on-site implementation.
              </p>
              <p>
                Since 2014 our team helped more than 100 customers from over 10 countries. Portfolio
                includes full cycle web & mobile project development, VR & AR applications, successful
                remote Team Extension cases and dozens of short time & material engagements.
              </p>
            </div>
          </div>
          <div class="sl_about_item about_item_last">
            <h2 class="left"><span class="blue-text">5 reasons</span> to work with us</h2>
            <ul class="blue_counter text_content">
              <li>
                <span class="blue-text">Cost Control</span><br />
                <span class="sl_sm">task tracking access or time tracker option</span>
              </li>
              <li>
                <span class="blue-text">Scalability</span><br />
                <span class="sl_sm">in-house recruiting, quick ramping up/down a team</span>
              </li>
              <li>
                <span class="blue-text">Code Quality</span><br />
                <span class="sl_sm">structured, maintainable code with comments</span>
              </li>
              <li>
                <span class="blue-text">Confidentiality</span><br />
                <span class="sl_sm">all team members are under NDA</span>
              </li>
              <li>
                <span class="blue-text">Reliability</span><br />
                <span class="sl_sm">backup power and Internet channel, office security</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <h2>Work Process</h2>
        <div class="text_center text_content">
          <p>
            We understand that each customer is unique and has differing needs. Our customers get a
            tailor-made experience and custom software development depending on the kind of work they
            bring to us and what we have on hand to offer them.
          </p>
          <p>Our Process is fairly simple:</p>
        </div>
        <div class="sl_flex_wrapp sl_proc_wrap">
          <div class="sl_process">
            <div class="sl_img_wrapp">
              <div class="sl_process_img">
                <img src="./images/dest/icons/slider_icon_4.png" alt="">
              </div>
            </div>
            <div class="sl_process_text">
              Contact Us
              <div class="sl_process_desc">
                Free consulting allows assembling and clarifying your requirements
              </div>
            </div>
          </div>
          <div class="sl_process">
            <div class="sl_img_wrapp">
              <div class="sl_process_img">
                <img src="./images/dest/icons/slider_icon_5.png" alt="">
              </div>
            </div>
            <div class="sl_process_text">
              Solution Analysis
              <div class="sl_process_desc">
                Planning phase for a project or evaluating developers for a remote team
              </div>
            </div>
          </div>
          <div class="sl_process">
            <div class="sl_img_wrapp">
              <div class="sl_process_img">
                <img src="./images/dest/icons/slider_icon_6.png" alt="">
              </div>
            </div>
            <div class="sl_process_text">
              Quotation
              <div class="sl_process_desc">
                Estimating a project, signing an agreement
              </div>
            </div>
          </div>
          <div class="sl_process">
            <div class="sl_img_wrapp">
              <div class="sl_process_img">
                <img src="./images/dest/icons/slider_icon_7.png" alt="">
              </div>
            </div>
            <div class="sl_process_text">
              Integration
              <div class="sl_process_desc">
                Iterative agile approach for a managed project delivery
              </div>
            </div>
          </div>
          <div class="sl_process">
            <div class="sl_img_wrapp">
              <div class="sl_process_img">
                <img src="./images/dest/icons/slider_icon_8.png" alt="">
              </div>
            </div>
            <div class="sl_process_text">
              Support
              <div class="sl_process_desc">
                Special terms for support services after project’s release
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <h2>Engagement Models</h2>
        <div class="sl_flex_wrapp">
          <div class="sl_models_item">
            <img src="./images/dest/icons/slider_icon_1.png" alt="">
            <h4>
              Fixed Price<br />
              per Project
            </h4>
            <div class="sl_about_text">
              <p>
                The collaboration between the IT provider and service gainer is a contractual agreement
                with detailed specifications.
              </p>
              <ul class="bullet">
                <li>suitable for short or urgent projects lasting a few months;</li>
                <li>best choice when the requirements are clearly defined and stable;</li>
                <li>fixed amount of money is paid for particular scope of work;</li>
              </ul>
            </div>
          </div>
          <div class="sl_models_item">
            <img src="./images/dest/icons/slider_icon_2.png" alt="">
            <h4>
              Hourly<br />
              Time & Material
            </h4>
            <div class="sl_about_text">
              <p>
                This model is applied when it is impossible to itemize and estimate all the details of
                the project at once.
              </p>
              <ul class="bullet">
                <li>excellent for average and long-term agile projects;</li>
                <li>most optimal approach when the requirements are changeable;</li>
                <li>
                  customer pays for the time spent on the development of predetermined functional and
                  reimburses additional costs;
                </li>
              </ul>
            </div>
          </div>
          <div class="sl_models_item">
            <img src="./images/dest/icons/slider_icon_3.png" alt="">
            <h4>Outsourcing Development Team</h4>
            <div class="sl_about_text">
              <p>
                In this case the client gets a team that is involved only into his project and not
                engaged in other tasks.
              </p>
              <ul class="bullet">
                <li>applicable for long projects;</li>
                <li>an appropriate model for projects with frequent and vague requirements;</li>
                <li>
                  client pays the invoice that consist of management fee and monthly salary of team
                  members;
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-next next"></div>
    <div class="swiper-button-prev prev"></div>
  </div>
</div>