<section class="bg_blue no_pad_bottom" id="team">
  <div class="container_small text_center">
    <h2>Team Available</h2>
    <div class="text_content">
      Contact us to get the most up-to-date information for specialists’ availability.
    </div>
  </div>

  <div class="container_middle text_center">
    <div class="team-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="img-wrapper">
            <a target="_blank" href="https://www.upwork.com/fl/maksympugach">
              <img src="images/dest/developers/max_p.jpg" alt="" />
            </a>
          </div>
          <div class="description">
            <div class="header">
              <div class="name">
                <a target="_blank" href="https://www.upwork.com/fl/maksympugach">
                  Maksim
                </a>
              </div>
              <div class="vacancy">
                <a target="_blank" href="https://www.upwork.com/fl/maksympugach">
                  Senior Full Stack Ruby Engineer, Technical Lead
                </a>
              </div>
            </div>
            <div class="stats">
              <div class="success-meter"><strong>100%</strong> job success</div>
              <div class="rating">
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <span>5.0</span>
              </div>
              <div class="availability">Available: <strong>32h/week</strong></div>
            </div>
            <p>
              I have over 10 years of experience as a Software Engineer. I’m leading a team of several Ruby
              engineers and completing most critical parts of projects’ architecture design. I love
              communicating directly with customers, helping them to find most efficient solutions for their
              projects.
            </p>
          </div>
          <div class="actions">
            <div class="location"><i class="icon_location"></i> Kyiv</div>
            <button class="btn fullblue hire-me btn-default" data-hired-name="Maksim">HIRE ME</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="img-wrapper">
            <a target="_blank" href="https://www.upwork.com/fl/viktoriiagridasova">
              <img src="images/dest/developers/victoria_g.jpg" alt="" />
            </a>
          </div>
          <div class="description">
            <div class="header">
              <div class="name">
                <a target="_blank" href="https://www.upwork.com/fl/viktoriiagridasova">
                  Victoria
                </a>
              </div>
              <div class="vacancy">
                <a target="_blank" href="https://www.upwork.com/fl/viktoriiagridasova">
                  Frontend Software Engineer (Ember, Meteor, Angular, JSON, HTML, CSS, JQuery, Bootstrap)
                </a>
              </div>
            </div>
            <div class="stats">
              <div class="success-meter"><strong>100%</strong> job success</div>
              <div class="rating">
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <span>5.0</span>
              </div>
              <div class="availability">Available: <strong>28h/week</strong></div>
            </div>
            <p>
              I’m pixel-perfect Front-end Expert, constantly learning and implementing new technologies.
              People say I have an exceptional ability to work in a fast-paced high-pressure environment.
            </p>
          </div>
          <div class="actions">
            <div class="location"><i class="icon_location"></i> Kyiv</div>
            <button class="btn fullblue hire-me btn-default" data-hired-name="Victoria">HIRE ME</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="img-wrapper">
            <a target="_blank" href="https://www.upwork.com/freelancers/~0123e42fa9f6bb9b81">
              <img src="images/dest/developers/alexey_k.jpg" alt="" />
            </a>
          </div>
          <div class="description">
            <div class="header">
              <div class="name">
                <a target="_blank" href="https://www.upwork.com/freelancers/~0123e42fa9f6bb9b81">
                  Oleksiy
                </a>
              </div>
              <div class="vacancy">
                <a target="_blank" href="https://www.upwork.com/freelancers/~0123e42fa9f6bb9b81">
                  Senior Frontend Engineer (Sass, Less, Bootstrap, Ember, jQuery, Cordova, VueJS)
                </a>
              </div>
            </div>
            <div class="stats">
              <div class="success-meter"><strong>100%</strong> job success</div>
              <div class="rating">
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <span>5.0</span>
              </div>
              <div class="availability">Available: <strong>24h/week</strong></div>
            </div>
            <p>
              I have a solid knowledge both in backend and frontend which allows me to learn a wide range of
              technologies and reach the desired knowledge level extremely fast. I complete projects, not just
              tasks, so I am looking at them not only as a developer, but from customer’s standpoint as well,
              that’s why bring the ideas how to make a product better.
            </p>
          </div>
          <div class="actions">
            <div class="location"><i class="icon_location"></i> Kyiv</div>
            <button class="btn fullblue hire-me btn-default" data-hired-name="Oleksiy">HIRE ME</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="img-wrapper">
            <a target="_blank" href="https://www.upwork.com/freelancers/~0176e5c91e59057ecb">
              <img src="images/dest/developers/emil_t.jpg" alt="" />
            </a>
          </div>
          <div class="description">
            <div class="header">
              <div class="name">
                <a target="_blank" href="https://www.upwork.com/freelancers/~0176e5c91e59057ecb">
                  Emil
                </a>
              </div>
              <div class="vacancy">
                <a target="_blank" href="https://www.upwork.com/freelancers/~0176e5c91e59057ecb">
                  Full Stack Python Engineer (Python, Phoenix, Ember.js, Backbone.js, Bootstrap)
                </a>
              </div>
            </div>
            <div class="stats">
              <div class="success-meter"><strong>100%</strong> job success</div>
              <div class="rating">
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <img src="./images/dest/icons/star.png" alt="" />
                <span>5.0</span>
              </div>
              <div class="availability">Available: <strong>36h/week</strong></div>
            </div>
            <p>
              I’m constantly enhancing knowledge in object-oriented and functional programming, as well as
              modern technologies and methods of development. I’m following best practices, creative and
              responsible worker.
            </p>
          </div>
          <div class="actions">
            <div class="location"><i class="icon_location"></i> Kyiv</div>
            <button class="btn fullblue hire-me btn-default" data-hired-name="Emil">HIRE ME</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="img-wrapper">
            <a target="_blank" href="https://www.upwork.com/fl/maksymsviechnikov">
              <img src="images/dest/developers/maxim_s.jpg" alt="" />
            </a>
          </div>
          <div class="description">
            <div class="header">
              <div class="name">
                <a target="_blank" href="https://www.upwork.com/fl/maksymsviechnikov">
                  Maksim
                </a>
              </div>
              <div class="vacancy">
                <a target="_blank" href="https://www.upwork.com/fl/maksymsviechnikov">
                  Senior Full Stack Ruby Engineer
                </a>
              </div>
            </div>
            <div class="stats">
              <div class="success-meter"><strong>100%</strong> job success</div>
              <div class="rating">
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <span>5.0</span>
              </div>
              <div class="availability">Available: <strong>32h/week</strong></div>
            </div>
            <p>
              Graduated as a M.S. in Marketing and Management I have a comprehensive knowledge about marketing
              or analytical part of any side of business, and enough experience to help clients to get maximum
              from their web resources. Being Software Engineer for over 6 years, I’m interested in
              architectural and engineering solutions that make user friendly, high performance, scalable and
              reliable applications.
            </p>
          </div>
          <div class="actions">
            <div class="location"><i class="icon_location"></i> Kyiv</div>
            <button class="btn fullblue hire-me btn-default" data-hired-name="Maksim">HIRE ME</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="img-wrapper">
            <a target="_blank" href="https://www.upwork.com/fl/pavelvinogradov9">
              <img src="images/dest/developers/pavlo_v.jpg" alt="" />
            </a>
          </div>
          <div class="description">
            <div class="header">
              <div class="name">
                <a target="_blank" href="https://www.upwork.com/fl/pavelvinogradov9">
                  Pavlo
                </a>
              </div>
              <div class="vacancy">
                <a target="_blank" href="https://www.upwork.com/fl/pavelvinogradov9">
                  Senior VR and AR Solutions Developer (Unity 3D, C#, Java (Android), C++, Python)
                </a>
              </div>
            </div>
            <div class="stats">
              <div class="success-meter"><strong>100%</strong> job success</div>
              <div class="rating">
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <span>5.0</span>
              </div>
              <div class="availability">Available: <strong>26h/week</strong></div>
            </div>
            <p>
              During my more than 8 years experience of mobile application and game development, I’ve
              completed hundreds of projects, so I can easily find common language and be on the same page
              with clients. I always try to understand how a client sees his product as a complete solution.
              Hands-on experience with all modern platforms for Virtual and Augmented Reality.
            </p>
          </div>
          <div class="actions">
            <div class="location"><i class="icon_location"></i> Kyiv</div>
            <button class="btn fullblue hire-me btn-default" data-hired-name="Pavlo">HIRE ME</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="img-wrapper">
            <a target="_blank" href="https://www.upwork.com/freelancers/~01ebce2967f2dc96b6">
              <img src="images/dest/developers/vladimir_m.jpg" alt="" />
            </a>
          </div>
          <div class="description">
            <div class="header">
              <div class="name">
                <a target="_blank" href="https://www.upwork.com/freelancers/~01ebce2967f2dc96b6">
                  Vladimir
                </a>
              </div>
              <div class="vacancy">
                <a target="_blank" href="https://www.upwork.com/freelancers/~01ebce2967f2dc96b6">
                  Senior Frontend Engineer (React, React Native, Redux, ExtJS, Backbone, Ember)
                </a>
              </div>
            </div>
            <div class="stats">
              <div class="success-meter"><strong>100%</strong> job success</div>
              <div class="rating">
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <img src="images/dest/icons/star.png" alt="" />
                <span>5.0</span>
              </div>
              <div class="availability">Available: <strong>24h/week</strong></div>
            </div>
            <p>
              I have over 5 years of experience in the web development industry. Produce clean, supportable,
              extensible and reusable code. Proactive and responsible team player. Communicative, enthusiastic
              and always open to new technologies.
            </p>
          </div>
          <div class="actions">
            <div class="location"><i class="icon_location"></i> Kyiv</div>
            <button class="btn fullblue hire-me btn-default" data-hired-name="Vladimir">HIRE ME</button>
          </div>
        </div>
      </div>

      <div class="swiper-button-next next"></div>
      <div class="swiper-button-prev prev"></div>
      <div class="team-slider-pagination pagination">
        <div class="active pagination-item text_center">
          <div class="img-wrapper">
            <img src="images/dest/developers/max_p.jpg" alt="" />
          </div>
          <h4>Maksim</h4>
          <h5>Senior Full Stack Ruby Engineer</h5>
        </div>

        <div class="pagination-item text_center">
          <div class="img-wrapper">
            <img src="images/dest/developers/victoria_g.jpg" alt="" />
          </div>
          <h4>Victoria</h4>
          <h5>Frontend Software Engineer</h5>
        </div>

        <div class="pagination-item text_center">
          <div class="img-wrapper">
            <img src="images/dest/developers/alexey_k.jpg" alt="" />
          </div>
          <h4>Oleksiy</h4>
          <h5>Senior Frontend Engineer</h5>
        </div>

        <div class="pagination-item text_center">
          <div class="img-wrapper">
            <img src="images/dest/developers/emil_t.jpg" alt="" />
          </div>
          <h4>Emil</h4>
          <h5>Full Stack Python Engineer</h5>
        </div>

        <div class="pagination-item text_center">
          <div class="img-wrapper">
            <img src="images/dest/developers/maxim_s.jpg" alt="" />
          </div>
          <h4>Maksim</h4>
          <h5>Senior Full Stack Ruby Engineer</h5>
        </div>

        <div class="pagination-item text_center">
          <div class="img-wrapper">
            <img src="images/dest/developers/pavlo_v.jpg" alt="" />
          </div>
          <h4>Pavlo</h4>
          <h5>Senior VR and AR Solutions Developer</h5>
        </div>

        <div class="pagination-item text_center">
          <div class="img-wrapper">
            <img src="images/dest/developers/vladimir_m.jpg" alt="" />
          </div>
          <h4>Vladimir</h4>
          <h5>Senior Frontend Engineer</h5>
        </div>
      </div>
    </div>
  </div>
</section>
