<section class="bg_blue technologies" id="technologies">
  <div class="technologies_text">
    <h2>Technologies</h2>
    <div class="container_small text_content">
      Are you looking for a specific technology or planning a full cycle project development? Our back-end
      and front-end expertise allows you blueprinting, building and maintaining advanced web and mobile
      applications for a company of any size.
    </div>
  </div>
  <div class="container">
    <div class="tehno_item">
      <h4>Mobile</h4>
      <div class="tehno_block">
        <a href="/react-native">
          <img src="./images/dest/technologies/react_native.png" alt="">
        </a>
        <span>
          <img src="./images/dest/technologies/flutter.png" alt="">
        </span>
        <a href="/swift">
          <img src="./images/dest/technologies/swift.png" alt="">
        </a>
        <a href="/java">
          <img src="./images/dest/technologies/java.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="tehno_item">
      <h4>Back-end</h4>
      <div class="tehno_block">
        <span>
          <img src="./images/dest/technologies/java_back.png" alt="">
        </span>
        <span>
          <img src="./images/dest/technologies/golang.png" alt="">
        </span>
        <span>
          <img src="./images/dest/technologies/python.png" alt="">
        </span>
        <span>
          <img src="./images/dest/technologies/groovy_grails.png" alt="">
        </span>
        <span>
          <img src="./images/dest/technologies/elixir.png" alt="">
        </span>
        <a href="/ruby-on-rails">
          <img src="./images/dest/technologies/rails_new.png" alt="">
        </a>
        <a href="/node-js">
          <img src="./images/dest/technologies/nodejs.png" alt="">
        </a>
        <a href="/django">
          <img src="./images/dest/technologies/django_new.png" alt="">
        </a>
      </div>
    </div>

    <div class="tehno_item">
      <h4>Front-end</h4>
      <div class="tehno_block">
        <a href="/reactjs">
          <img src="./images/dest/technologies/react.js.png" alt="">
        </a>
        <a href="/vuejs">
          <img src="./images/dest/technologies/vue.png" alt="">
        </a>
        <a href="/emberjs ">
          <img src="./images/dest/technologies/ember.png" alt="">
        </a>
        <a href="/angular">
          <img src="./images/dest/technologies/angular.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>