<section id="clients">
  <div class="container_small text_center">
    <h2>Testimonials</h2>
    <div class="testimonials-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="blockquote-image" style="background-image: url('./images/dest/testimonials/zero.jpg');">
            <img src="./images/dest/flags/flag-usa.png" alt="" />
          </div>
          <h4>Email App</h4>
          <blockquote class="large-review">
            <div class="blockquote-wrapper">
              <p>
                LITS team has been our core software development partner from initial stage to launch and have
                delivered solid, high quality results during the whole project integration. Our project
                included 3 applications: native iOS app, native Android app and cross-platform desktop
                application compatible with Windows, Linux and Mac.
              </p>
              <p>
                We would highly recommend them to anyone looking for a reliable software development company
                with a complex challenging project and would like to appreciate their team’s professionalism,
                responsiveness and communication skills.
              </p>
            </div>
            <footer>
              <h5>Alexander Volkov</h5>
              <h5>President, Mailfeed Corp.</h5>
            </footer>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <div
            class="blockquote-image"
            style="background-image: url('./images/dest/testimonials/stollerco.jpg');"
          >
            <img src="./images/dest/flags/flag-usa.png" alt="" />
          </div>
          <h4>Ruby on Rails, Ember.js, Firebase Dedicated Programmer</h4>
          <blockquote class="large-review">
            <div class="blockquote-wrapper">
              <p>
                Programmer did a great job with a difficult EmberJS project. We had an older undocumented app
                that needed updating, and he was very helpful in helping us understand what was required to
                get the work completed. Unfortunately, the client decided not to invest in further updates to
                the app, so we had to cancel the project. But I would certainly work with him and his team for
                future development projects - they were very responsive and great to work with.
              </p>
            </div>
            <footer>
              <h5>Andrew Stoller</h5>
              <h5>Stoller & Company, Baltimor, USA</h5>
            </footer>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <div
            class="blockquote-image"
            style="background-image: url('./images/dest/testimonials/ava-1.png');"
          >
            <img src="./images/dest/flags/flag-united_kingdom.png" alt="" />
          </div>
          <h4>Educational Platform</h4>
          <blockquote class="large-review">
            <div class="blockquote-wrapper">
              <p>
                I’ve had the opportunity to work with 2 front end developers, 1 backend developer and a QA. We
                have managed to make a significant progress with the development of our platform, including
                redesigning the value proposition lesson canvas and making it more responsive. Making the
                Analytics work much better with better insights and the infrastructure which was lagging in
                performance has also been improved. We have also been able to plan and meet milestones for new
                features.
              </p>
              <p>
                Very supportive team and I hope to continue the relationship however big or small in future.
              </p>
            </div>
            <footer>
              <h5>Founder and CEO</h5>
              <h5>Startup from the UK</h5>
            </footer>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <div
            class="blockquote-image"
            style="background-image: url('./images/dest/testimonials/hard_data.jpg');"
          >
            <img src="./images/dest/flags/flag-usa.png" alt="" />
          </div>
          <h4>Ruby on Rails Website Development</h4>
          <blockquote>
            <div class="blockquote-wrapper">
              <p>Fantastic communication and motivation!</p>
              <p>Thinks strategically and makes great choices as well as writing strong code.</p>
              <p>Thank you!</p>
            </div>
            <footer>
              <h5>Hard Data Factory</h5>
              <h5>Startup from the United States</h5>
            </footer>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <div
            class="blockquote-image"
            style="background-image: url('./images/dest/testimonials/academy_class.jpg');"
          >
            <img src="./images/dest/flags/flag-united_kingdom.png" alt="" />
          </div>
          <h4>Ruby on Rails website support</h4>
          <blockquote>
            <div class="blockquote-wrapper">
              <p>Fast, efficient and worked to budget.</p>
              <p>Really rate this developer really highly.</p>
              <p>Good job, well done.</p>
            </div>
            <footer>
              <h5>Mark Young</h5>
              <h5>Academyclass, United Kingdom, London</h5>
            </footer>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <div
            class="blockquote-image"
            style="background-image: url('./images/dest/testimonials/ava-1.png');"
          >
            <img src="./images/dest/flags/flag-usa.png" alt="" />
          </div>
          <h4>School Management Web app</h4>
          <blockquote>
            <div class="blockquote-wrapper">
              <p>The developers provided were excellent and rock solid.</p>
              <p>I would hire again in a heartbeat.</p>
            </div>
            <footer>
              <h5>Chris Jeon</h5>
              <h5>Toasterbits, USA</h5>
            </footer>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <div
            class="blockquote-image"
            style="background-image: url('./images/dest/testimonials/ava-1.png');"
          >
            <img src="./images/dest/flags/flag-usa.png" alt="" />
          </div>
          <h4>Website Development</h4>
          <blockquote>
            <div class="blockquote-wrapper">
              <p>
                This was one of the absolute best experiences I’ve had with hiring a contract development
                resource. Not only was the project completed as requested, there was input given along the
                way, suggestion for improving the original requirements, and the documentation was first rate.
                I would hire again in an instant for any other projects I have.
              </p>
            </div>
            <footer>
              <h5>Thrion Holdings</h5>
              <h5>Startup from USA</h5>
            </footer>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <div
            class="blockquote-image"
            style="background-image: url('./images/dest/testimonials/tricepoint.jpg');"
          >
            <img src="./images/dest/flags/flag-usa.png" alt="" />
          </div>
          <h4>Web & Mobile Project Development</h4>
          <blockquote>
            <div class="blockquote-wrapper">
              <p>A pleasure to work with.</p>
              <p>Developer is a diligent expert, who achieves goals at a high level.</p>
            </div>
            <footer>
              <h5>Thricepoint</h5>
              <h5>Startup from the United States</h5>
            </footer>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <div
            class="blockquote-image"
            style="background-image: url('./images/dest/testimonials/reviews/ava-1.png');"
          >
            <img src="./images/dest/flags/flag-china.png" alt="" />
          </div>
          <h4>Team Extension, Cordova</h4>
          <blockquote>
            <div class="blockquote-wrapper">
              <p>Guys did the really complicated task in a short period of time.</p>
              <p>The communication was fast and easy and the final result makes me happy.</p>
              <p>Will I advise to work with them? Without doubts yes.</p>
            </div>
            <footer>
              <h5>Zhenshu Ding</h5>
              <h5>Startup from China, Tumen</h5>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next next"></div>
      <div class="swiper-button-prev prev"></div>
    </div>
  </div>
</section>
