---
layout: default
---
  {% assign url = page.url | split: "/" %}
  {% assign stack = url[1] %}
  {% assign technology = url | last %}

  {% capture src %}
  /images/dest/technologies/{{ technology }}.png
  {% endcapture %}

  {% capture alt %}
    {{ technology }}
  {% endcapture %}

  <!-- Create path if image inner extensions (specifically *.jpg) -->
  {% capture onErrorSrc %}
      this.src="/images/dest/technologies/{{ technology }}.jpg"
  {% endcapture %}

<div class="inner_page_top inn_bg">
  <div class="container_big">
    <h1 class="headline_with_bg">
      {% if url[1] == 'technologies' %}
        <img src={{ src }} alt={{alt}} onError={{onErrorSrc}} />
      {% else %}
        {{page.head_title}}
      {% endif %}
    </h1>
  </div>
</div>

<div class="container content">
  <!-- <%= render partial: 'partials/breadcrumb', locals: {breadcrumb: @post.the_breadcrumb} %> -->
  <h2>
    <strong>
      {{page.content_title}}

    </strong>
  </h2>

  {% for text in page.text_content %}
    {% if text.p %}
      <p>{{ text.p }}</p>

    {% elsif text.h3 %}
      <h3>{{ text.h3 }}</h3>

    {% elsif text.strong %}
      <p>
        <strong>
          {{ text.strong }}
        </strong>
      </p>

    {% elsif text.ul %}
      {% for li in text.ul %}
        {% if forloop.first == true %}
          {{ li }}
        {% elsif forloop.last == true %}
          {{ li }}
        {% elsif li.accent %}
          <li>
            <strong> {{ li.strong }} </strong>
            {{ li.regular }}
          </li>
        {% else %}
          <li>
            {{ li }}
          </li>
        {% endif %}
      {% endfor %}

    {% elsif text.ul_single %}
      <ul>
        <li>
          {{ text.ul_single }}
        </li>
      </ul>
    {% endif %}
  {% endfor %}

  <div class="blue_block fullwidth">
    <div class="container">
      <h4>
        {{ page.blue_block.h }}
      </h4>
      <p>
        {{ page.blue_block.p }}
      </p>
    </div>
  </div>

<div class="inner_page_call fullwidth">
  <div class="container_big">
    <h4>Making your next project incredible</h4>
    <a class="btn white big lets-talk" style="text-transform: none;" href="/#go-lets-talk">Start a Project With Us</a>
  </div>
</div>

</div>